* {
  font-family:  sans-serif;
}

.dark-blue-bg {
  background-color: darkblue;
}

.dark-blue-fg {
  color: darkblue;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.border-box {
  box-sizing: border-box;
}

.fill-width {
  width: auto;
}

.gap-8 {
  gap: 8px;
}

.bold {
  font-weight: bold;
}

#header {
  height: 7.5vh;
  margin-bottom: 2vh;
}

.white-bg {
  background-color: whitesmoke;
}

.white-fg {
  color: whitesmoke;
}

.round-border {
  border-radius: 8px;
}

.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.pad-4 {
  padding: 4px;
}

.pad-8 {
  padding: 8px;
}

.pad-16 {
  padding: 16px;
}

#container {
  border: 1px solid black;
  width: 960px;
  height: 960px;
}

.square-group {
  flex: 1;
}

.squares {
  flex: 1;
}